@{
	ViewData["Title"] = "Welcome to the Help";
	Layout = "~/Views/Help/Shared/_Layout.cshtml";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Please use the navigation to access the various help topics.</p>