/* MadCap Table Style: */

/*<meta />*/

mcTableStyle
{
	name: Data_Objects;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 2pt;
	border-spacing-x: 0;
	border-spacing-y: 0;
	border-collapse: collapse;
	border-left-color: #000000;
	border-right-color: #000000;
	border-top-color: #000000;
	border-bottom-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 3pt;
	border-right-style: solid;
	border-right-width: 3pt;
	border-left-style: solid;
	border-left-width: 1px;
	cell-padding-top: 5.04pt;
	cell-padding-left: 4pt;
	cell-padding-right: 5.04pt;
	cell-padding-bottom: 2pt;
}

mcTableColumnStyle
{
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	ruler-style: solid;
	ruler-width: 1px;
	ruler-color: #000000;
}

mcTableHeadStyle
{
	
}

mcTableBodyStyle
{
	span: 2;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	ruler-style: solid;
	ruler-width: 1px;
	ruler-color: #000000;
}

mcTableBodyStyle
{
	span: 2;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	ruler-style: solid;
	ruler-width: 1px;
	ruler-color: #000000;
}

mcTableFootStyle
{
	
}


/* Cell Styles: */
 
.TableStyle_Data_Objects
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 3pt;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 3pt;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 2pt;
	border-spacing: 0px 0px;
}

.TableStyle_Data_Objects .Column-
{
	
}

.TableStyle_Data_Objects .Head-
{
	
}

.TableStyle_Data_Objects .HeadI--
{
	padding-left: 4pt;
	padding-right: 5.04pt;
	padding-top: 5.04pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Data_Objects .HeadI-- p
{
	
}

.TableStyle_Data_Objects .HeadE--
{
	padding-left: 4pt;
	padding-right: 5.04pt;
	padding-top: 5.04pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Data_Objects .HeadE-- p
{
	
}

.TableStyle_Data_Objects .HeadF--
{
	padding-left: 4pt;
	padding-right: 5.04pt;
	padding-top: 5.04pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Data_Objects .HeadF-- p
{
	
}

.TableStyle_Data_Objects .HeadH--
{
	padding-left: 4pt;
	padding-right: 5.04pt;
	padding-top: 5.04pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Data_Objects .HeadH-- p
{
	
}

.TableStyle_Data_Objects .HeadD--
{
	padding-left: 4pt;
	padding-right: 5.04pt;
	padding-top: 5.04pt;
	padding-bottom: 2pt;
}

.TableStyle_Data_Objects .HeadD-- p
{
	
}

.TableStyle_Data_Objects .HeadC--
{
	padding-left: 4pt;
	padding-right: 5.04pt;
	padding-top: 5.04pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Data_Objects .HeadC-- p
{
	
}

.TableStyle_Data_Objects .HeadB--
{
	padding-left: 4pt;
	padding-right: 5.04pt;
	padding-top: 5.04pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Data_Objects .HeadB-- p
{
	
}

.TableStyle_Data_Objects .HeadA--
{
	padding-left: 4pt;
	padding-right: 5.04pt;
	padding-top: 5.04pt;
	padding-bottom: 2pt;
}

.TableStyle_Data_Objects .HeadA-- p
{
	
}

.TableStyle_Data_Objects .HeadG--
{
	padding-left: 4pt;
	padding-right: 5.04pt;
	padding-top: 5.04pt;
	padding-bottom: 2pt;
}

.TableStyle_Data_Objects .HeadG-- p
{
	
}

.TableStyle_Data_Objects .Foot-
{
	
}

.TableStyle_Data_Objects .FootI--
{
	padding-left: 4pt;
	padding-right: 5.04pt;
	padding-top: 5.04pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Data_Objects .FootI-- p
{
	
}

.TableStyle_Data_Objects .FootE--
{
	padding-left: 4pt;
	padding-right: 5.04pt;
	padding-top: 5.04pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Data_Objects .FootE-- p
{
	
}

.TableStyle_Data_Objects .FootF--
{
	padding-left: 4pt;
	padding-right: 5.04pt;
	padding-top: 5.04pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Data_Objects .FootF-- p
{
	
}

.TableStyle_Data_Objects .FootH--
{
	padding-left: 4pt;
	padding-right: 5.04pt;
	padding-top: 5.04pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Data_Objects .FootH-- p
{
	
}

.TableStyle_Data_Objects .FootD--
{
	padding-left: 4pt;
	padding-right: 5.04pt;
	padding-top: 5.04pt;
	padding-bottom: 2pt;
}

.TableStyle_Data_Objects .FootD-- p
{
	
}

.TableStyle_Data_Objects .FootC--
{
	padding-left: 4pt;
	padding-right: 5.04pt;
	padding-top: 5.04pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Data_Objects .FootC-- p
{
	
}

.TableStyle_Data_Objects .FootB--
{
	padding-left: 4pt;
	padding-right: 5.04pt;
	padding-top: 5.04pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Data_Objects .FootB-- p
{
	
}

.TableStyle_Data_Objects .FootA--
{
	padding-left: 4pt;
	padding-right: 5.04pt;
	padding-top: 5.04pt;
	padding-bottom: 2pt;
}

.TableStyle_Data_Objects .FootA-- p
{
	
}

.TableStyle_Data_Objects .FootG--
{
	padding-left: 4pt;
	padding-right: 5.04pt;
	padding-top: 5.04pt;
	padding-bottom: 2pt;
}

.TableStyle_Data_Objects .FootG-- p
{
	
}

.TableStyle_Data_Objects .Body-
{
	
}

.TableStyle_Data_Objects .BodyI--
{
	padding-left: 4pt;
	padding-right: 5.04pt;
	padding-top: 5.04pt;
	padding-bottom: 2pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Data_Objects .BodyI-- p
{
	
}

.TableStyle_Data_Objects .BodyE--
{
	padding-left: 4pt;
	padding-right: 5.04pt;
	padding-top: 5.04pt;
	padding-bottom: 2pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Data_Objects .BodyE-- p
{
	
}

.TableStyle_Data_Objects .BodyF--
{
	padding-left: 4pt;
	padding-right: 5.04pt;
	padding-top: 5.04pt;
	padding-bottom: 2pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Data_Objects .BodyF-- p
{
	
}

.TableStyle_Data_Objects .BodyH--
{
	padding-left: 4pt;
	padding-right: 5.04pt;
	padding-top: 5.04pt;
	padding-bottom: 2pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Data_Objects .BodyH-- p
{
	
}

.TableStyle_Data_Objects .BodyD--
{
	padding-left: 4pt;
	padding-right: 5.04pt;
	padding-top: 5.04pt;
	padding-bottom: 2pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle_Data_Objects .BodyD-- p
{
	
}

.TableStyle_Data_Objects .BodyC--
{
	padding-left: 4pt;
	padding-right: 5.04pt;
	padding-top: 5.04pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Data_Objects .BodyC-- p
{
	
}

.TableStyle_Data_Objects .BodyB--
{
	padding-left: 4pt;
	padding-right: 5.04pt;
	padding-top: 5.04pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Data_Objects .BodyB-- p
{
	
}

.TableStyle_Data_Objects .BodyA--
{
	padding-left: 4pt;
	padding-right: 5.04pt;
	padding-top: 5.04pt;
	padding-bottom: 2pt;
}

.TableStyle_Data_Objects .BodyA-- p
{
	
}

.TableStyle_Data_Objects .BodyG--
{
	padding-left: 4pt;
	padding-right: 5.04pt;
	padding-top: 5.04pt;
	padding-bottom: 2pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle_Data_Objects .BodyG-- p
{
	
}

.TableStyle_Data_Objects .Body-
{
	
}

.TableStyle_Data_Objects .BodyI--
{
	padding-left: 4pt;
	padding-right: 5.04pt;
	padding-top: 5.04pt;
	padding-bottom: 2pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Data_Objects .BodyI-- p
{
	
}

.TableStyle_Data_Objects .BodyE--
{
	padding-left: 4pt;
	padding-right: 5.04pt;
	padding-top: 5.04pt;
	padding-bottom: 2pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Data_Objects .BodyE-- p
{
	
}

.TableStyle_Data_Objects .BodyF--
{
	padding-left: 4pt;
	padding-right: 5.04pt;
	padding-top: 5.04pt;
	padding-bottom: 2pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Data_Objects .BodyF-- p
{
	
}

.TableStyle_Data_Objects .BodyH--
{
	padding-left: 4pt;
	padding-right: 5.04pt;
	padding-top: 5.04pt;
	padding-bottom: 2pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Data_Objects .BodyH-- p
{
	
}

.TableStyle_Data_Objects .BodyD--
{
	padding-left: 4pt;
	padding-right: 5.04pt;
	padding-top: 5.04pt;
	padding-bottom: 2pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle_Data_Objects .BodyD-- p
{
	
}

.TableStyle_Data_Objects .BodyC--
{
	padding-left: 4pt;
	padding-right: 5.04pt;
	padding-top: 5.04pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Data_Objects .BodyC-- p
{
	
}

.TableStyle_Data_Objects .BodyB--
{
	padding-left: 4pt;
	padding-right: 5.04pt;
	padding-top: 5.04pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Data_Objects .BodyB-- p
{
	
}

.TableStyle_Data_Objects .BodyA--
{
	padding-left: 4pt;
	padding-right: 5.04pt;
	padding-top: 5.04pt;
	padding-bottom: 2pt;
}

.TableStyle_Data_Objects .BodyA-- p
{
	
}

.TableStyle_Data_Objects .BodyG--
{
	padding-left: 4pt;
	padding-right: 5.04pt;
	padding-top: 5.04pt;
	padding-bottom: 2pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle_Data_Objects .BodyG-- p
{
	
}


