/* MadCap Table Style: */

/*<meta />*/

mcTableStyle {
	name: Tablestyles; 
	border-collapse: collapse; 
	border-left-style: solid; 
	border-left-width: 2px; 
	border-left-color: #000000; 
	border-right-style: solid; 
	border-right-width: 2px; 
	border-right-color: #000000; 
	border-top-style: solid; 
	border-top-width: 2px; 
	border-top-color: #000000; 
	border-bottom-style: solid; 
	border-bottom-width: 2px; 
	border-bottom-color: #000000; 
	cell-padding-left: 2px; 
	cell-padding-right: 2px; 
	cell-padding-top: 2px; 
	cell-padding-bottom: 2px; 
}

mcTableColumnStyle {
	span: 1; 
	separator-style: solid; 
	separator-width: 2px; 
	separator-color: #000000; 
	font-size: 10pt; 
	font-family: Arial; 
}

mcTableHeadStyle {
	span: 1; 
	separator-style: solid; 
	separator-width: 2px; 
	separator-color: #000000; 
	background-color: #000000; 
	color: #ffffff; 
	font-size: 12pt; 
	font-weight: bold; 
	font-family: Arial; 
	vertical-align: top; 
	text-align: center; 
}

mcTableBodyStyle {
	span: 1; 
	font-weight: normal; 
	separator-style: solid; 
	separator-width: 2px; 
	separator-color: #000000; 
	font-size: 10pt; 
	font-family: Arial; 
	vertical-align: top; 
	text-align: center; 
}

mcTableBodyStyle {
	span: 1; 
	background-color: #000000; 
	separator-style: solid; 
	separator-width: 2px; 
	separator-color: #000000; 
	font-size: 10pt; 
	color: #ffffff; 
	vertical-align: top; 
	text-align: center; 
}

mcTableFootStyle {
	span: 1; 
	separator-style: solid; 
	separator-width: 1px; 
	separator-color: #000000; 
	vertical-align: top; 
	text-align: center; 
}

 
 
/* Cell Styles: */
 
.TableStyle_Tablestyles
{
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 2px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 2px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 2px;
	border-collapse: collapse;
	border-spacing: 0px 0px;
	mc-cell-padding: 2px 2px 2px 2px;
}

.TableStyle_Tablestyles_Head_0_0
{
	font-weight: bold;
	text-align: center;
	vertical-align: top;
	background-color: #000000;
	color: #ffffff;
	font-family: Arial;
	font-size: 10pt;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle_Tablestyles_Head_0_0 p
{
	font-weight: bold;
	color: #ffffff;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle_Tablestyles_Head_0_0_RowSep_ColSep
{
	font-weight: bold;
	text-align: center;
	vertical-align: top;
	background-color: #000000;
	color: #ffffff;
	border-bottom-width: 2px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	font-family: Arial;
	font-size: 10pt;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 2px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Tablestyles_Head_0_0_RowSep_ColSep p
{
	font-weight: bold;
	color: #ffffff;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle_Tablestyles_Head_0_0_RowSep
{
	font-weight: bold;
	text-align: center;
	vertical-align: top;
	background-color: #000000;
	color: #ffffff;
	border-bottom-width: 2px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	font-family: Arial;
	font-size: 10pt;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle_Tablestyles_Head_0_0_RowSep p
{
	font-weight: bold;
	color: #ffffff;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle_Tablestyles_Head_0_0_ColSep
{
	font-weight: bold;
	text-align: center;
	vertical-align: top;
	background-color: #000000;
	color: #ffffff;
	font-family: Arial;
	font-size: 10pt;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 2px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Tablestyles_Head_0_0_ColSep p
{
	font-weight: bold;
	color: #ffffff;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle_Tablestyles_Head_0_0_RowSep_ColEnd
{
	font-weight: bold;
	text-align: center;
	vertical-align: top;
	background-color: #000000;
	color: #ffffff;
	border-bottom-width: 2px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	font-family: Arial;
	font-size: 10pt;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle_Tablestyles_Head_0_0_RowSep_ColEnd p
{
	font-weight: bold;
	color: #ffffff;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle_Tablestyles_Head_0_0_RowEnd
{
	font-weight: bold;
	text-align: center;
	vertical-align: top;
	background-color: #000000;
	color: #ffffff;
	font-family: Arial;
	font-size: 10pt;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle_Tablestyles_Head_0_0_RowEnd p
{
	font-weight: bold;
	color: #ffffff;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle_Tablestyles_Head_0_0_RowEnd_ColSep
{
	font-weight: bold;
	text-align: center;
	vertical-align: top;
	background-color: #000000;
	color: #ffffff;
	font-family: Arial;
	font-size: 10pt;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 2px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Tablestyles_Head_0_0_RowEnd_ColSep p
{
	font-weight: bold;
	color: #ffffff;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle_Tablestyles_Head_0_0_RowEnd_ColEnd
{
	font-weight: bold;
	text-align: center;
	vertical-align: top;
	background-color: #000000;
	color: #ffffff;
	font-family: Arial;
	font-size: 10pt;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle_Tablestyles_Head_0_0_RowEnd_ColEnd p
{
	font-weight: bold;
	color: #ffffff;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle_Tablestyles_Head_0_0_ColEnd
{
	font-weight: bold;
	text-align: center;
	vertical-align: top;
	background-color: #000000;
	color: #ffffff;
	font-family: Arial;
	font-size: 10pt;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle_Tablestyles_Head_0_0_ColEnd p
{
	font-weight: bold;
	color: #ffffff;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle_Tablestyles_Body_0_0
{
	font-weight: normal;
	text-align: center;
	vertical-align: top;
	font-family: Arial;
	font-size: 10pt;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle_Tablestyles_Body_0_0 p
{
	font-weight: normal;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle_Tablestyles_Body_0_0_RowSep_ColSep
{
	font-weight: normal;
	text-align: center;
	vertical-align: top;
	border-bottom-width: 2px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	font-family: Arial;
	font-size: 10pt;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 2px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Tablestyles_Body_0_0_RowSep_ColSep p
{
	font-weight: normal;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle_Tablestyles_Body_0_0_RowSep
{
	font-weight: normal;
	text-align: center;
	vertical-align: top;
	border-bottom-width: 2px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	font-family: Arial;
	font-size: 10pt;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle_Tablestyles_Body_0_0_RowSep p
{
	font-weight: normal;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle_Tablestyles_Body_0_0_ColSep
{
	font-weight: normal;
	text-align: center;
	vertical-align: top;
	font-family: Arial;
	font-size: 10pt;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 2px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Tablestyles_Body_0_0_ColSep p
{
	font-weight: normal;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle_Tablestyles_Body_0_0_RowSep_ColEnd
{
	font-weight: normal;
	text-align: center;
	vertical-align: top;
	border-bottom-width: 2px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	font-family: Arial;
	font-size: 10pt;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle_Tablestyles_Body_0_0_RowSep_ColEnd p
{
	font-weight: normal;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle_Tablestyles_Body_0_0_RowEnd
{
	font-weight: normal;
	text-align: center;
	vertical-align: top;
	font-family: Arial;
	font-size: 10pt;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle_Tablestyles_Body_0_0_RowEnd p
{
	font-weight: normal;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle_Tablestyles_Body_0_0_RowEnd_ColSep
{
	font-weight: normal;
	text-align: center;
	vertical-align: top;
	font-family: Arial;
	font-size: 10pt;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 2px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Tablestyles_Body_0_0_RowEnd_ColSep p
{
	font-weight: normal;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle_Tablestyles_Body_0_0_RowEnd_ColEnd
{
	font-weight: normal;
	text-align: center;
	vertical-align: top;
	font-family: Arial;
	font-size: 10pt;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle_Tablestyles_Body_0_0_RowEnd_ColEnd p
{
	font-weight: normal;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle_Tablestyles_Body_0_0_ColEnd
{
	font-weight: normal;
	text-align: center;
	vertical-align: top;
	font-family: Arial;
	font-size: 10pt;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle_Tablestyles_Body_0_0_ColEnd p
{
	font-weight: normal;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle_Tablestyles_Body_1_0
{
	text-align: center;
	vertical-align: top;
	background-color: #000000;
	color: #ffffff;
	font-family: Arial;
	font-size: 10pt;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle_Tablestyles_Body_1_0 p
{
	color: #ffffff;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle_Tablestyles_Body_1_0_RowSep_ColSep
{
	text-align: center;
	vertical-align: top;
	background-color: #000000;
	color: #ffffff;
	border-bottom-width: 2px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	font-family: Arial;
	font-size: 10pt;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 2px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Tablestyles_Body_1_0_RowSep_ColSep p
{
	color: #ffffff;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle_Tablestyles_Body_1_0_RowSep
{
	text-align: center;
	vertical-align: top;
	background-color: #000000;
	color: #ffffff;
	border-bottom-width: 2px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	font-family: Arial;
	font-size: 10pt;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle_Tablestyles_Body_1_0_RowSep p
{
	color: #ffffff;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle_Tablestyles_Body_1_0_ColSep
{
	text-align: center;
	vertical-align: top;
	background-color: #000000;
	color: #ffffff;
	font-family: Arial;
	font-size: 10pt;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 2px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Tablestyles_Body_1_0_ColSep p
{
	color: #ffffff;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle_Tablestyles_Body_1_0_RowSep_ColEnd
{
	text-align: center;
	vertical-align: top;
	background-color: #000000;
	color: #ffffff;
	border-bottom-width: 2px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	font-family: Arial;
	font-size: 10pt;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle_Tablestyles_Body_1_0_RowSep_ColEnd p
{
	color: #ffffff;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle_Tablestyles_Body_1_0_RowEnd
{
	text-align: center;
	vertical-align: top;
	background-color: #000000;
	color: #ffffff;
	font-family: Arial;
	font-size: 10pt;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle_Tablestyles_Body_1_0_RowEnd p
{
	color: #ffffff;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle_Tablestyles_Body_1_0_RowEnd_ColSep
{
	text-align: center;
	vertical-align: top;
	background-color: #000000;
	color: #ffffff;
	font-family: Arial;
	font-size: 10pt;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 2px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Tablestyles_Body_1_0_RowEnd_ColSep p
{
	color: #ffffff;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle_Tablestyles_Body_1_0_RowEnd_ColEnd
{
	text-align: center;
	vertical-align: top;
	background-color: #000000;
	color: #ffffff;
	font-family: Arial;
	font-size: 10pt;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle_Tablestyles_Body_1_0_RowEnd_ColEnd p
{
	color: #ffffff;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle_Tablestyles_Body_1_0_ColEnd
{
	text-align: center;
	vertical-align: top;
	background-color: #000000;
	color: #ffffff;
	font-family: Arial;
	font-size: 10pt;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle_Tablestyles_Body_1_0_ColEnd p
{
	color: #ffffff;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle_Tablestyles_Foot_0_0
{
	text-align: center;
	vertical-align: top;
	font-family: Arial;
	font-size: 10pt;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle_Tablestyles_Foot_0_0 p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle_Tablestyles_Foot_0_0_RowSep_ColSep
{
	text-align: center;
	vertical-align: top;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
	font-family: Arial;
	font-size: 10pt;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 2px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Tablestyles_Foot_0_0_RowSep_ColSep p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle_Tablestyles_Foot_0_0_RowSep
{
	text-align: center;
	vertical-align: top;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
	font-family: Arial;
	font-size: 10pt;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle_Tablestyles_Foot_0_0_RowSep p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle_Tablestyles_Foot_0_0_ColSep
{
	text-align: center;
	vertical-align: top;
	font-family: Arial;
	font-size: 10pt;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 2px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Tablestyles_Foot_0_0_ColSep p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle_Tablestyles_Foot_0_0_RowSep_ColEnd
{
	text-align: center;
	vertical-align: top;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
	font-family: Arial;
	font-size: 10pt;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle_Tablestyles_Foot_0_0_RowSep_ColEnd p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle_Tablestyles_Foot_0_0_RowEnd
{
	text-align: center;
	vertical-align: top;
	font-family: Arial;
	font-size: 10pt;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle_Tablestyles_Foot_0_0_RowEnd p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle_Tablestyles_Foot_0_0_RowEnd_ColSep
{
	text-align: center;
	vertical-align: top;
	font-family: Arial;
	font-size: 10pt;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 2px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Tablestyles_Foot_0_0_RowEnd_ColSep p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle_Tablestyles_Foot_0_0_RowEnd_ColEnd
{
	text-align: center;
	vertical-align: top;
	font-family: Arial;
	font-size: 10pt;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle_Tablestyles_Foot_0_0_RowEnd_ColEnd p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle_Tablestyles_Foot_0_0_ColEnd
{
	text-align: center;
	vertical-align: top;
	font-family: Arial;
	font-size: 10pt;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle_Tablestyles_Foot_0_0_ColEnd p
{
	font-family: Arial;
	font-size: 10pt;
}


