/* MadCap Table Style: */

/*<meta />*/

mcTableStyle
{
	name: Data_Object_Indented;
	margin-left: 0.25in;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 2pt;
	border-spacing-x: 0;
	border-spacing-y: 0;
	border-collapse: collapse;
	border-left-color: #000000;
	border-right-color: #000000;
	border-top-color: #000000;
	border-bottom-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 3pt;
	border-right-style: solid;
	border-right-width: 3pt;
	border-left-style: solid;
	border-left-width: 1px;
	cell-padding-top: 5.04pt;
	cell-padding-left: 4pt;
	cell-padding-right: 5.04pt;
	cell-padding-bottom: 2pt;
}

mcTableColumnStyle
{
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	ruler-style: solid;
	ruler-width: 1px;
	ruler-color: #000000;
}

mcTableHeadStyle
{
	
}

mcTableBodyStyle
{
	span: 2;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	ruler-style: solid;
	ruler-width: 1px;
	ruler-color: #000000;
}

mcTableBodyStyle
{
	span: 2;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	ruler-style: solid;
	ruler-width: 1px;
	ruler-color: #000000;
}

mcTableFootStyle
{
	
}


/* Cell Styles: */
 
.TableStyle_Data_Object_Indented
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 3pt;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 3pt;
	margin-left: 0.25in;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 2pt;
	border-spacing: 0px 0px;
}

.TableStyle_Data_Object_Indented .Column-
{
	
}

.TableStyle_Data_Object_Indented .Head-
{
	
}

.TableStyle_Data_Object_Indented .HeadI--
{
	padding-left: 4pt;
	padding-right: 5.04pt;
	padding-top: 5.04pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Data_Object_Indented .HeadI-- p
{
	
}

.TableStyle_Data_Object_Indented .HeadE--
{
	padding-left: 4pt;
	padding-right: 5.04pt;
	padding-top: 5.04pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Data_Object_Indented .HeadE-- p
{
	
}

.TableStyle_Data_Object_Indented .HeadF--
{
	padding-left: 4pt;
	padding-right: 5.04pt;
	padding-top: 5.04pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Data_Object_Indented .HeadF-- p
{
	
}

.TableStyle_Data_Object_Indented .HeadH--
{
	padding-left: 4pt;
	padding-right: 5.04pt;
	padding-top: 5.04pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Data_Object_Indented .HeadH-- p
{
	
}

.TableStyle_Data_Object_Indented .HeadD--
{
	padding-left: 4pt;
	padding-right: 5.04pt;
	padding-top: 5.04pt;
	padding-bottom: 2pt;
}

.TableStyle_Data_Object_Indented .HeadD-- p
{
	
}

.TableStyle_Data_Object_Indented .HeadC--
{
	padding-left: 4pt;
	padding-right: 5.04pt;
	padding-top: 5.04pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Data_Object_Indented .HeadC-- p
{
	
}

.TableStyle_Data_Object_Indented .HeadB--
{
	padding-left: 4pt;
	padding-right: 5.04pt;
	padding-top: 5.04pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Data_Object_Indented .HeadB-- p
{
	
}

.TableStyle_Data_Object_Indented .HeadA--
{
	padding-left: 4pt;
	padding-right: 5.04pt;
	padding-top: 5.04pt;
	padding-bottom: 2pt;
}

.TableStyle_Data_Object_Indented .HeadA-- p
{
	
}

.TableStyle_Data_Object_Indented .HeadG--
{
	padding-left: 4pt;
	padding-right: 5.04pt;
	padding-top: 5.04pt;
	padding-bottom: 2pt;
}

.TableStyle_Data_Object_Indented .HeadG-- p
{
	
}

.TableStyle_Data_Object_Indented .Foot-
{
	
}

.TableStyle_Data_Object_Indented .FootI--
{
	padding-left: 4pt;
	padding-right: 5.04pt;
	padding-top: 5.04pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Data_Object_Indented .FootI-- p
{
	
}

.TableStyle_Data_Object_Indented .FootE--
{
	padding-left: 4pt;
	padding-right: 5.04pt;
	padding-top: 5.04pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Data_Object_Indented .FootE-- p
{
	
}

.TableStyle_Data_Object_Indented .FootF--
{
	padding-left: 4pt;
	padding-right: 5.04pt;
	padding-top: 5.04pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Data_Object_Indented .FootF-- p
{
	
}

.TableStyle_Data_Object_Indented .FootH--
{
	padding-left: 4pt;
	padding-right: 5.04pt;
	padding-top: 5.04pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Data_Object_Indented .FootH-- p
{
	
}

.TableStyle_Data_Object_Indented .FootD--
{
	padding-left: 4pt;
	padding-right: 5.04pt;
	padding-top: 5.04pt;
	padding-bottom: 2pt;
}

.TableStyle_Data_Object_Indented .FootD-- p
{
	
}

.TableStyle_Data_Object_Indented .FootC--
{
	padding-left: 4pt;
	padding-right: 5.04pt;
	padding-top: 5.04pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Data_Object_Indented .FootC-- p
{
	
}

.TableStyle_Data_Object_Indented .FootB--
{
	padding-left: 4pt;
	padding-right: 5.04pt;
	padding-top: 5.04pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Data_Object_Indented .FootB-- p
{
	
}

.TableStyle_Data_Object_Indented .FootA--
{
	padding-left: 4pt;
	padding-right: 5.04pt;
	padding-top: 5.04pt;
	padding-bottom: 2pt;
}

.TableStyle_Data_Object_Indented .FootA-- p
{
	
}

.TableStyle_Data_Object_Indented .FootG--
{
	padding-left: 4pt;
	padding-right: 5.04pt;
	padding-top: 5.04pt;
	padding-bottom: 2pt;
}

.TableStyle_Data_Object_Indented .FootG-- p
{
	
}

.TableStyle_Data_Object_Indented .Body-
{
	
}

.TableStyle_Data_Object_Indented .BodyI--
{
	padding-left: 4pt;
	padding-right: 5.04pt;
	padding-top: 5.04pt;
	padding-bottom: 2pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Data_Object_Indented .BodyI-- p
{
	
}

.TableStyle_Data_Object_Indented .BodyE--
{
	padding-left: 4pt;
	padding-right: 5.04pt;
	padding-top: 5.04pt;
	padding-bottom: 2pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Data_Object_Indented .BodyE-- p
{
	
}

.TableStyle_Data_Object_Indented .BodyF--
{
	padding-left: 4pt;
	padding-right: 5.04pt;
	padding-top: 5.04pt;
	padding-bottom: 2pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Data_Object_Indented .BodyF-- p
{
	
}

.TableStyle_Data_Object_Indented .BodyH--
{
	padding-left: 4pt;
	padding-right: 5.04pt;
	padding-top: 5.04pt;
	padding-bottom: 2pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Data_Object_Indented .BodyH-- p
{
	
}

.TableStyle_Data_Object_Indented .BodyD--
{
	padding-left: 4pt;
	padding-right: 5.04pt;
	padding-top: 5.04pt;
	padding-bottom: 2pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle_Data_Object_Indented .BodyD-- p
{
	
}

.TableStyle_Data_Object_Indented .BodyC--
{
	padding-left: 4pt;
	padding-right: 5.04pt;
	padding-top: 5.04pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Data_Object_Indented .BodyC-- p
{
	
}

.TableStyle_Data_Object_Indented .BodyB--
{
	padding-left: 4pt;
	padding-right: 5.04pt;
	padding-top: 5.04pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Data_Object_Indented .BodyB-- p
{
	
}

.TableStyle_Data_Object_Indented .BodyA--
{
	padding-left: 4pt;
	padding-right: 5.04pt;
	padding-top: 5.04pt;
	padding-bottom: 2pt;
}

.TableStyle_Data_Object_Indented .BodyA-- p
{
	
}

.TableStyle_Data_Object_Indented .BodyG--
{
	padding-left: 4pt;
	padding-right: 5.04pt;
	padding-top: 5.04pt;
	padding-bottom: 2pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle_Data_Object_Indented .BodyG-- p
{
	
}

.TableStyle_Data_Object_Indented .Body-
{
	
}

.TableStyle_Data_Object_Indented .BodyI--
{
	padding-left: 4pt;
	padding-right: 5.04pt;
	padding-top: 5.04pt;
	padding-bottom: 2pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Data_Object_Indented .BodyI-- p
{
	
}

.TableStyle_Data_Object_Indented .BodyE--
{
	padding-left: 4pt;
	padding-right: 5.04pt;
	padding-top: 5.04pt;
	padding-bottom: 2pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Data_Object_Indented .BodyE-- p
{
	
}

.TableStyle_Data_Object_Indented .BodyF--
{
	padding-left: 4pt;
	padding-right: 5.04pt;
	padding-top: 5.04pt;
	padding-bottom: 2pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Data_Object_Indented .BodyF-- p
{
	
}

.TableStyle_Data_Object_Indented .BodyH--
{
	padding-left: 4pt;
	padding-right: 5.04pt;
	padding-top: 5.04pt;
	padding-bottom: 2pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Data_Object_Indented .BodyH-- p
{
	
}

.TableStyle_Data_Object_Indented .BodyD--
{
	padding-left: 4pt;
	padding-right: 5.04pt;
	padding-top: 5.04pt;
	padding-bottom: 2pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle_Data_Object_Indented .BodyD-- p
{
	
}

.TableStyle_Data_Object_Indented .BodyC--
{
	padding-left: 4pt;
	padding-right: 5.04pt;
	padding-top: 5.04pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Data_Object_Indented .BodyC-- p
{
	
}

.TableStyle_Data_Object_Indented .BodyB--
{
	padding-left: 4pt;
	padding-right: 5.04pt;
	padding-top: 5.04pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Data_Object_Indented .BodyB-- p
{
	
}

.TableStyle_Data_Object_Indented .BodyA--
{
	padding-left: 4pt;
	padding-right: 5.04pt;
	padding-top: 5.04pt;
	padding-bottom: 2pt;
}

.TableStyle_Data_Object_Indented .BodyA-- p
{
	
}

.TableStyle_Data_Object_Indented .BodyG--
{
	padding-left: 4pt;
	padding-right: 5.04pt;
	padding-top: 5.04pt;
	padding-bottom: 2pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle_Data_Object_Indented .BodyG-- p
{
	
}


