/*<meta />*/

@import url('Promodel.css') ;

h1
{
	font-family: Arial;
	color: #476faf;
	margin-top: 0.67px;
	margin-bottom: 0.67px;
	page-break-before: avoid;
	page-break-after: avoid;
	page-break-inside: avoid;
	font-size: 18pt;
}

li.mc-H1
{
	font-family: Arial, Helvetica, sans-serif;
	color: #003399;
	font-size: 10pt;
}

h2
{
	font-family: Arial;
	color: #476faf;
	font-size: 14pt;
	font-weight: normal;
}

li.mc-H2
{
	font-family: Arial, Helvetica, sans-serif;
	color: #003399;
	font-size: 10pt;
}

h3
{
	font-family: Arial, Helvetica, sans-serif;
	color: #476faf;
	font-size: 12pt;
}

li.mc-H3
{
	font-family: Arial, Helvetica, sans-serif;
	color: #003399;
	font-size: 10pt;
}

h4
{
	font-family: Arial, Helvetica, sans-serif;
	color: #476faf;
	font-size: 11pt;
	font-weight: bold;
}

li.mc-H4
{
	font-family: Arial, Helvetica, sans-serif;
	color: #003399;
	font-size: 10pt;
}

h5
{
	font-family: Arial, Helvetica, sans-serif;
	color: #476faf;
	font-size: 11pt;
	font-weight: normal;
	mc-disabled: false;
}

li.mc-H5
{
	font-family: Arial, Helvetica, sans-serif;
	color: #003399;
	font-size: 10pt;
}

a.expandspot
{
	cursor: hand;
	color: #008000;
	font-style: normal;
	font-family: Arial;
}

a.dropspot
{
	font-style: italic;
	color: #008000;
	cursor: hand;
	font-family: Arial;
}

a.glossterm
{
	cursor: hand;
	color: #800000;
	font-style: normal;
	font-family: Arial;
}

p.p_1
{
	font-family: Arial;
	margin-top: 0;
	margin-bottom: 0;
	text-align: left;
	font-size: 10pt;
}

img.img_1
{
	border: none;
	float: none;
	border-style: none;
	border-style: none;
	font-family: Arial;
}

strong.strong_1
{
	font-weight: bold;
	font-family: Arial;
}

ul.ul_1
{
	list-style: inside disc;
	font-family: Arial;
}

p.p_2
{
	margin-left: 40px;
	font-family: Arial;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 10pt;
}

li.li_1
{
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-size: 10pt;
}

a.a_1
{
	font-weight: bold;
	font-family: Arial;
	color: #000000;
	font-size: 10pt;
}

table.table_1
{
	x-border-left: 1px table-solid;
	x-border-top: 1px table-solid;
	x-border-right: 1px table-solid;
	x-border-bottom: 1px table-solid;
	border-collapse: separate;
	x-border-left: 1px table-solid;
	x-border-top: 1px table-solid;
	x-border-right: 1px table-solid;
	x-border-bottom: 1px table-solid;
	border-collapse: separate;
	font-family: Arial;
}

u.u_1
{
	text-decoration: underline;
	font-family: Arial;
}

div.div_1
{
	text-align: center;
	font-family: Arial;
}

p.p_3
{
	margin-left: 0px;
	font-family: Arial;
}

div.div_2
{
	text-align: center;
	margin-left: 40px;
	font-family: Arial;
}

p.p_4
{
	text-align: center;
	margin-left: 40px;
	font-family: Arial;
}

p.p_5
{
	font-weight: normal;
	font-family: Arial;
}

em.em_1
{
	font-style: italic;
	font-family: Arial;
}

li.li_2
{
	margin-bottom: 0pt;
	font-family: Arial;
	font-size: 10pt;
}

ol.ol_1
{
	list-style: decimal;
	list-style-type: decimal;
	font-family: Arial;
	font-size: 10pt;
}

li.li_3
{
	margin-left: 0px;
	font-family: Arial;
	font-size: 10pt;
}

td.td_1
{
	font-family: Arial;
	vertical-align: top;
	padding-left: 0px;
	padding-right: 0px;
	border-left-style: Solid;
	border-left-width: 1px;
	border-left-color: #ffffff;
	border-right-style: Solid;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-top-style: Solid;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	text-align: left;
	font-size: 10pt;
}

p.p_6
{
	font-style: italic;
	font-weight: bold;
	font-family: Arial;
}

p.p_7
{
	font-style: italic;
	font-family: Arial;
}

div.x-popup-text_1
{
	display: none;
	position: absolute;
	font-family: Arial;
}

tr.tr_1
{
	text-align: center;
	font-family: Archie;
}

p.p_8
{
	font-weight: bold;
	font-family: Arial;
}

li.li_4
{
	margin-left: -20px;
	font-family: Arial;
	font-size: 10pt;
}

p.p_9
{
	font-style: normal;
	font-family: Arial;
}

li.li_5
{
	font-weight: bold;
	font-family: Arial;
	font-size: 10pt;
}

p.p_10
{
	font-weight: bold;
	margin-left: 40px;
	font-family: Arial;
	font-size: 10pt;
}

p.p_11
{
	margin-left: 40px;
	font-weight: normal;
	font-family: Arial;
	font-size: 10pt;
	page-break-after: avoid;
	page-break-before: avoid;
}

p.p_12
{
	text-align: center;
	font-weight: bold;
	font-style: normal;
	letter-spacing: 0em;
	color: #595959;
	line-height: 0pt;
	x-text-overline: off;
	x-text-line-through: off;
	text-decoration: none none none;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-size: 10pt;
}

ol.ol_2
{
	list-style: decimal;
	list-style-type: decimal;
	text-align: center;
	font-weight: bold;
	font-style: normal;
	letter-spacing: 0em;
	color: #595959;
	line-height: 0pt;
	x-text-overline: off;
	x-text-line-through: off;
	text-decoration: none none none;
	font-size: 11pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: Arial;
}

ul.ul_5
{
	list-style: inside disc;
	text-align: center;
	font-weight: bold;
	font-style: normal;
	letter-spacing: 0em;
	color: #595959;
	line-height: 0pt;
	x-text-overline: off;
	x-text-line-through: off;
	text-decoration: none none none;
	font-size: 11pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: Arial;
}

li.li_6
{
	text-align: center;
	font-weight: bold;
	font-style: normal;
	letter-spacing: 0em;
	color: #595959;
	line-height: 0pt;
	x-text-overline: off;
	x-text-line-through: off;
	text-decoration: none none none;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-size: 10pt;
}

p.p
{
	font-family: Arial;
	line-height: normal;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 10pt;
}

p.variable
{
	color: #000000;
	font-size: 10pt;
	font-family: Arial;
}

p.p_13
{
	margin-top: 11pt;
	margin-bottom: 11pt;
	text-align: center;
	font-family: Arial;
	font-size: 10pt;
}

p.th_TableStyle_ps_2008_tablestyles_Head_0_0_RowSep_ColEnd
{
	text-align: center;
	font-weight: bold;
	color: #FFFFFF;
	font-family: Arial;
}

p.td_TableStyle_ps_2008_tablestyles_Body_1_0_RowSep_ColSep
{
	font-family: Arial;
	font-size: 10pt;
	margin-top: 0.12px;
	margin-bottom: 0.12px;
}

p.th_TableStyle_ps_2008_tablestyles_Head_0_0_RowSep_ColSep_1
{
	text-align: center;
	font-weight: bold;
	font-family: Arial;
	color: #ffffff;
	background-color: #476faf;
}

p.td_TableStyle_ps_2008_tablestyles_Body_1_0_RowSep_ColSep_1
{
	text-align: center;
	font-family: Arial;
	color: #ffffff;
	background-color: #476faf;
}

td.td_10
{
	font-family: Arial;
	color: #ffffff;
	background-color: #476faf;
	border-left-style: solid;
	border-left-width: 0px;
	border-right-style: solid;
	border-right-width: 0px;
	border-top-style: solid;
	border-top-width: 0px;
	border-bottom-style: solid;
	border-bottom-width: 0px;
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	font-size: 10pt;
}

p.p_14
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	mc-auto-number-format: '{b}{n+}{/b}  ';
	margin-top: 5pt;
	margin-bottom: 5pt;
}

a.a_11
{
	font-family: Arial;
	color: #1fb3e6;
	font-weight: bold;
	font-style: normal;
	font-size: 10pt;
}

h5.NewClass
{
	text-decoration: overline;
	font-family: Arial;
	color: #476faf;
	mc-disabled: false;
}

h5.NOTE
{
	font-family: Arial;
	background-repeat: no-repeat;
	text-decoration: none;
	color: #476faf;
	background-color: #ffffff;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #476faf;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #476faf;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #476faf;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #476faf;
	font-size: 10pt;
	mc-disabled: false;
}

a.editingcomment
{
	font-family: cursive;
	color: #a0522d;
}

@media webhelp
{
	h1
	{
		font-size: 18pt;
	}

	a
	{
		font-style: normal;
		font-family: Arial;
		font-size: 10pt;
		color: #335094;
		font-weight: bold;
	}

	a:visited
	{
		text-decoration: none;
		color: #335094;
	}

	a:link
	{
		color: #335094;
	}

	li
	{
		font-family: Arial;
		font-size: 10pt;
	}

	MadCap|miniTocProxy
	{
		font-weight: bold;
		font-style: normal;
		font-size: 11pt;
		font-family: Arial;
		color: #476faf;
	}

	MadCap|xref
	{
		font-weight: bold;
		font-style: normal;
		font-family: Arial;
		color: #335094;
		font-size: 10pt;
	}

	MadCap|breadcrumbsProxy
	{
		font-family: Arial;
		font-weight: normal;
		mc-breadcrumbs-prefix: ' ';
		font-size: 11pt;
		color: #335094;
		margin-top: 42px;
	}

	td
	{
		font-family: Arial;
		font-size: 10pt;
		text-indent: 0;
		text-align: left;
		padding-left: 10px;
		padding-right: 10px;
		vertical-align: inherit;
		border-bottom-color: #000000;
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-left-color: #000000;
		border-left-style: solid;
		border-left-width: 1px;
		border-right-color: #000000;
		border-right-style: solid;
		border-right-width: 1px;
		border-top-color: #000000;
		border-top-style: solid;
		border-top-width: 1px;
	}

	td.td_1
	{
		color: #000000;
		border-left-style: Solid;
		border-left-width: 10px;
		border-left-color: #ffffff;
		border-right-style: Solid;
		border-right-width: 10px;
		border-right-color: #ffffff;
		border-top-style: Solid;
		border-top-width: 1px;
		border-top-color: #ffffff;
		border-bottom-style: Solid;
		border-bottom-width: 1px;
		border-bottom-color: #ffffff;
		padding-left: 0px;
		padding-right: 0px;
		font-size: 9pt;
	}

	td.td_10
	{
		padding-left: 2pt;
		padding-right: 2pt;
		padding-top: 2px;
		padding-bottom: 2pt;
		border-left-style: solid;
		border-left-width: 0px;
		border-right-style: solid;
		border-right-width: 0px;
		border-top-style: solid;
		border-top-width: 0px;
		border-bottom-style: solid;
		border-bottom-width: 0px;
		font-size: 9pt;
	}

	table
	{
		font-size: 10pt;
		font-family: Arial;
		border-left-style: solid;
		border-left-width: 0px;
		border-left-color: #000000;
		border-right-style: solid;
		border-right-width: 0px;
		border-right-color: #000000;
		border-top-style: solid;
		border-top-width: 0px;
		border-top-color: #000000;
		border-bottom-style: solid;
		border-bottom-width: 0px;
		border-bottom-color: #000000;
		padding-left: 10px;
		padding-right: 10px;
	}

	h2.NewClass
	{
		page-break-after: avoid;
	}

	h3.NewClass
	{
		page-break-after: avoid;
	}

	p.p_1
	{
		page-break-after: always;
	}

	p.p_14
	{
		font-size: 9pt;
		widows: 3;
		orphans: 3;
		text-align: left;
		text-indent: 0;
		mc-auto-number-format: '{b}{n+}.{/b}   ';
		margin-left: 0;
		mc-auto-number-offset: 0px;
		margin-top: 5px;
		margin-bottom: 5px;
	}

	MadCap|dropDownHotspot
	{
		font-family: Arial;
		font-size: 10pt;
	}

	MadCap|indexProxy
	{
		font-family: Arial;
		font-size: 10pt;
	}

	MadCap|xref.lowercase_see
	{
		font-size: 10pt;
		mc-format: '{paratext}';
	}

	MadCap|xref.Uppercase_See
	{
		mc-format: '{paratext} ';
		color: #335094;
		font-weight: bold;
		font-size: 10pt;
	}

	MadCap|xref.text_page_in_parenthesis
	{
		mc-format: '{paratext}';
	}

	a.a_1
	{
		color: #335094;
	}

	MadCap|dropDownBody
	{
		page-break-after: avoid;
	}

	MadCap|dropDown
	{
		page-break-after: avoid;
	}

	a.MCBreadcrumbsLink
	{
		font-weight: normal;
		font-size: 11pt;
		color: #335094;
	}

	tr
	{
		text-align: center;
		vertical-align: top;
	}

	thead
	{
		text-align: center;
	}

	p.CellHeading
	{
		letter-spacing: 0;
	}

	p.appendixitems
	{
		font-family: Arial;
		font-size: 10pt;
		font-weight: normal;
	}

	MadCap|xref.lowercase_no_see
	{
		mc-format: '{paratext}';
	}

	h5._rules_statements
	{
		font-size: 11pt;
		font-weight: normal;
		margin-bottom: 0.50em;
	}

	p._rules
	{
		font-family: Arial;
		font-size: 10pt;
		font-weight: bold;
		margin-bottom: 0.5em;
	}

	h5._valid_in
	{
		color: #000000;
		font-size: 10pt;
		font-weight: bold;
		margin-bottom: 0.75em;
	}

	p.Syntax_body
	{
		margin-left: 20px;
		margin-bottom: 0.5em;
		margin-top: 0.5em;
	}

	p.syntax_body_indent
	{
		margin-left: 30px;
		font-family: Arial;
		font-size: 10pt;
		margin-bottom: 0.5em;
		margin-top: 0.5em;
	}

	h4._rules_statements
	{
		font-size: 13pt;
		margin-bottom: 0.50em;
	}

	h2.statements
	{
		font-weight: bold;
	}

	p.Component
	{
		margin-bottom: 0.5em;
	}

	p.syntax_indent_2
	{
		margin-bottom: 0.5em;
		margin-top: 0.5em;
		font-family: Arial;
		font-size: 10pt;
		margin-left: 40px;
	}

	p.syntax_indent_3
	{
		margin-bottom: 0.5em;
		margin-top: 0.5em;
		font-family: Arial;
		font-size: 10pt;
		margin-left: 50px;
	}

	tbody
	{
		vertical-align: top;
	}

	a.MCBreadcrumbsLink:link
	{
		font-weight: bold;
	}

	hr
	{
		width: 100%;
		height: 0px;
		border-right-width: 0px;
		border-left-width: 0px;
		border-top-width: 0px;
		margin-bottom: 8px;
		margin-top: 25px;
		border-bottom-width: 1px;
		background-color: #808080;
		border-bottom-color: #808080;
		border-color: #808080;
	}
}

@media Printedoutput
{
	h1
	{
		page-break-before: always;
	}

	td.td_1
	{
		font-size: 10pt;
	}

	p.p_1
	{
		font-size: 10pt;
	}

	p
	{
		font-family: Arial;
	}
}

@media non-print
{
	a
	{
		font-family: Arial;
		color: #476faf;
	}

	a:link
	{
		color: #476faf;
		font-size: 11pt;
		font-weight: bold;
	}

	a.a_1
	{
		color: #476faf;
	}

	a.a_11
	{
		color: #476faf;
	}

	li
	{
		font-family: Arial;
	}

	ul
	{
		font-family: Arial;
	}

	MadCap|xref
	{
		font-family: Arial;
		mc-format: 'See "{paratext}"';
		color: #476faf;
	}

	a:hover
	{
		font-size: 11pt;
	}

	h1
	{
		font-size: 18pt;
	}

	td
	{
		padding-left: 2pt;
		padding-right: 2pt;
	}

	td.td_1
	{
		padding-right: 2pt;
		padding-left: 2pt;
	}

	li.li_1
	{
		mc-heading-level: 1;
	}

	li.li_1_how_to_step
	{
		mc-heading-level: 1;
	}
}

@media print
{
	table.table_1
	{
		
	}

	table.table2
	{
		
	}

	table.table21
	{
		border-bottom-width: 1px;
		border-left-width: 1px;
	}

	p.TOC1
	{
		font-family: Arial;
		mc-heading-level: 1;
		margin-bottom: 0.12em;
		font-weight: bold;
		font-style: normal;
		font-size: 8pt;
		margin-top: 1.0em;
		line-height: 0.8ex;
	}

	p.TOC2
	{
		font-family: Arial;
		margin-top: 0.12em;
		margin-bottom: 0.12em;
		font-weight: normal;
		mc-heading-level: 2;
		font-size: 8pt;
		line-height: 0.800ex;
	}

	p.TOC3
	{
		font-family: Arial;
		margin-top: 0.12em;
		margin-bottom: 0.12em;
		font-weight: normal;
		mc-heading-level: 0;
		font-size: 8pt;
	}

	p.TOC4
	{
		font-family: Arial;
		margin-bottom: 0.12em;
		margin-top: 0.12em;
		font-weight: normal;
		mc-heading-level: 0;
		font-size: 8pt;
	}

	p.TOC6
	{
		font-family: Arial;
		margin-top: 0.12em;
		font-size: 8pt;
	}

	p.TOC7
	{
		font-family: Arial;
		font-size: 8pt;
	}

	h1
	{
		mc-toc-depth: toc1;
		font-weight: bold;
		font-style: normal;
		font-size: 14pt;
		color: #335094;
		margin: .75em 0;
		page-break-before: avoid;
	}

	h2
	{
		mc-toc-depth: toc2;
		page-break-after: avoid;
		font-size: 13;
		color: #000000;
		font-weight: bold;
		font-style: normal;
		column-break-before: avoid;
		page-break-before: avoid;
	}

	h3
	{
		mc-toc-depth: toc3;
		page-break-after: avoid;
		font-style: normal;
		color: #7f9fb4;
		page-break-before: avoid;
		font-weight: bold;
		mc-heading-level: 3;
		margin: .75em 0;
		font-size: 11pt;
	}

	h5
	{
		mc-heading-level: 0;
		page-break-before: avoid;
		font-family: Arial;
		margin-bottom: 1.0em;
		margin-top: 1.0em;
		margin: .75em 0;
		font-size: 9pt;
		line-height: 0.80ex;
	}

	h4
	{
		font-style: italic;
		color: #000000;
		mc-heading-level: 0;
		page-break-before: avoid;
		font-family: Arial;
		margin: .75em 0;
		font-size: 10pt;
	}

	h6
	{
		mc-heading-level: 0;
	}

	p.Index1
	{
		font-family: Arial;
		margin-top: 0.12em;
		margin-bottom: 0.12em;
		margin-left: 0;
		text-align: left;
		float: left;
		width: 0;
		margin-right: 0;
		font-weight: normal;
		mc-leader-format: 'dot';
		mc-leader-align: right;
		mc-leader-offset: 30px;
		font-size: 8pt;
	}

	p.Index9
	{
		font-family: Arial;
		background-image: none;
		font-size: 8pt;
	}

	p.Index8
	{
		font-family: Arial;
		font-size: 8pt;
		mc-leader-format: 'dot';
		mc-leader-align: left;
	}

	p.Index7
	{
		font-family: Arial;
		font-size: 8pt;
		mc-leader-format: 'dot';
		mc-leader-align: left;
	}

	p.Index6
	{
		font-family: Arial;
		font-size: 8pt;
		mc-leader-format: 'dot';
		mc-leader-align: left;
	}

	p.Index5
	{
		font-family: Arial;
		font-size: 8pt;
		mc-leader-format: 'dot';
		mc-leader-align: left;
	}

	p.Index4
	{
		font-family: Arial;
		font-size: 8pt;
		mc-leader-format: 'dot';
		mc-leader-align: left;
	}

	p.Index3
	{
		font-family: Arial;
		margin-bottom: 0.12em;
		margin-top: 0.12em;
		font-size: 8pt;
		float: left;
		mc-leader-format: 'dot';
		mc-leader-align: left;
		mc-leader-offset: 6px;
	}

	p.Index2
	{
		font-family: Arial;
		margin-top: 0.12em;
		margin-bottom: 0.12em;
		font-weight: normal;
		text-align: left;
		float: left;
		width: 0;
		mc-leader-format: 'dot';
		mc-leader-align: right;
		mc-leader-offset: 30px;
		margin-right: 0;
		margin-left: 0.2in;
		font-size: 8pt;
	}

	thead
	{
		font-family: Arial;
		font-size: 8pt;
	}

	MadCap|pageHeader
	{
		font-family: Arial;
	}

	p.TOC5
	{
		font-family: Arial;
		margin-bottom: 0.12em;
		margin-top: 0.12em;
		mc-heading-level: 0;
		font-size: 8pt;
	}

	p.p
	{
		widows: 3;
		orphans: 2;
		font-size: 8pt;
		margin-bottom: 0.25em;
		margin-top: 0.25em;
		line-height: 0.80ex;
	}

	p.td_TableStyle_ps_2008_tablestyles_Body_1_0_RowSep_ColSep
	{
		orphans: 3;
		widows: 3;
		font-size: 8pt;
	}

	p.p_2
	{
		text-indent: 0px;
		vertical-align: 0px;
		white-space: pre-line;
		margin-left: 0px;
		font-size: 8pt;
		margin-top: 5px;
		margin-bottom: 5px;
		column-break-before: avoid;
		column-break-after: avoid;
		text-align: left;
		page-break-inside: avoid;
		column-break-inside: avoid;
		page-break-before: avoid;
		page-break-after: avoid;
	}

	h5.NOTE
	{
		mc-heading-level: 0;
		font-size: 8pt;
		line-height: 0.80ex;
	}

	p.p_14
	{
		widows: 3;
		orphans: 3;
		text-align: left;
		text-indent: 0;
		mc-auto-number-format: '{b}{n+}.{/b}   ';
		margin-left: 0;
		mc-auto-number-offset: 0px;
		margin-top: 5px;
		margin-bottom: 5px;
		font-size: 8pt;
		line-height: 0.75ex;
	}

	a
	{
		font-family: Arial;
		color: #000000;
		font-size: 8pt;
	}

	p.IndexHeading
	{
		font-family: Arial;
		text-align: left;
	}

	p
	{
		font-family: Arial;
		height: auto;
		margin: 0;
		margin-bottom: 0.50em;
		margin-top: 0.50em;
		font-size: 10pt;
	}

	p.p_1
	{
		widows: 3;
		orphans: 2;
		page-break-after: avoid;
		font-size: 8pt;
	}

	li
	{
		font-family: Arial;
		padding-bottom: 0em;
		margin-bottom: 0.25em;
		margin-top: 0.25em;
		font-size: 8pt;
		line-height: .8ex;
	}

	li.li_1
	{
		margin-bottom: 5 px;
		margin-top: 0;
		text-align: left;
		padding-right: 1px;
		font-size: 8pt;
		line-height: .8ex;
	}

	li.li_2
	{
		font-size: 10pt;
		margin-top: 0;
		margin-bottom: 5 px;
	}

	MadCap|xref
	{
		font-family: Arial;
		color: #000000;
		font-weight: normal;
		font-size: 8pt;
	}

	MadCap|xref.lowercase_see
	{
		text-decoration: none;
		color: #000000;
		mc-format: 'see {paratext} on page {page}';
		font-weight: normal;
		font-size: 8pt;
	}

	p.p_10
	{
		text-align: left;
		margin-left: 0;
		font-size: 8pt;
		page-break-before: avoid;
		page-break-after: avoid;
		column-break-after: avoid;
		column-break-before: avoid;
		margin-top: 3px;
		margin-bottom: 3px;
		font-weight: normal;
		font-style: normal;
		line-height: 0.8ex;
		padding-left: 1px;
		padding-right: 1px;
		padding-top: 1px;
		padding-bottom: 1px;
		border-left-style: solid;
		border-left-width: 0.5px;
		border-right-style: solid;
		border-right-width: 0.5px;
		border-top-style: solid;
		border-top-width: 0.5px;
		border-bottom-style: solid;
		border-bottom-width: 0.5px;
		background-color: #ffffff;
	}

	h2.NewClass
	{
		mc-toc-depth: toc2;
		page-break-after: avoid;
		font-size: 13;
		font-style: normal;
		color: #000000;
		page-break-before: avoid;
	}

	h3.NewClass
	{
		mc-toc-depth: toc3;
		page-break-after: avoid;
		font-weight: bold;
		font-style: normal;
		color: #7f9fb4;
		font-size: 12pt;
		mc-heading-level: 0;
		page-break-before: avoid;
		column-break-inside: avoid;
		column-break-before: avoid;
	}

	h4.NewClass
	{
		font-style: italic;
		color: #000000;
		page-break-before: avoid;
		mc-heading-level: 0;
	}

	h5.NewClass
	{
		page-break-before: avoid;
		text-decoration: none;
		margin-bottom: .75em;
		margin-top: .75em;
	}

	h1.title
	{
		page-break-before: always;
		margin-bottom: .75em;
		margin-top: .75em;
		font-size: 14pt;
	}

	h1.h1new
	{
		page-break-before: avoid;
	}

	p.Index21
	{
		font-family: Arial;
		margin-top: 0.12em;
		margin-bottom: 0.12em;
		margin-left: 0;
		text-align: left;
		float: left;
		margin-right: 6in;
		mc-hidden: hidden;
		mc-leader-format: 'dot';
		mc-leader-align: right;
		mc-leader-offset: 30px;
		font-size: 8pt;
	}

	p.p_13
	{
		margin-top: 0;
		text-align: left;
		text-indent: 0;
		margin-left: 20px;
		margin-bottom: 0px;
		font-size: 8pt;
	}

	p.p_11
	{
		font-size: 8pt;
		text-align: left;
		margin-left: 40px;
		margin-bottom: 0.5em;
		margin-top: 0.5em;
		line-height: 0.800ex;
	}

	p.p_112
	{
		widows: 3;
		orphans: 2;
		page-break-after: always;
		font-size: 8pt;
	}

	MadCap|tocProxy
	{
		font-family: Arial;
		border-top-width: 0px;
		font-size: 8pt;
	}

	MadCap|indexProxy
	{
		font-family: Arial;
		border-top-width: 0px;
		font-size: 8pt;
	}

	p.td_TableStyle_ps_2008_tablestyles_Body_1_0_RowSep_ColSep_1
	{
		background-color: #000000;
	}

	p.th_TableStyle_ps_2008_tablestyles_Head_0_0_RowSep_ColSep_1
	{
		background-color: #000000;
	}

	MadCap|dropDownHotspot
	{
		font-family: Arial;
		font-size: 10pt;
	}

	MadCap|xref.Uppercase_See
	{
		mc-format: 'See {paratext} on {page}  ';
		color: #000000;
		font-weight: normal;
		font-size: 8pt;
	}

	MadCap|xref.text_page_in_parenthesis
	{
		mc-format: '{paratext} (see {paratext} on page {page})';
	}

	a:link
	{
		color: #000000;
	}

	a.a_1
	{
		font-weight: normal;
		font-size: 8pt;
	}

	MadCap|dropDownBody
	{
		page-break-after: avoid;
		font-family: Arial;
		font-weight: normal;
		font-size: 10pt;
	}

	MadCap|dropDownHead
	{
		font-family: Arial;
		font-size: 12pt;
		font-weight: bold;
		page-break-after: avoid;
	}

	MadCap|footnote
	{
		font-family: Arial;
		font-size: 9pt;
		font-weight: normal;
	}

	h1.TOC_title
	{
		mc-heading-level: 0;
		mc-toc-depth: 0;
	}

	td
	{
		width: 6in;
		border-bottom-color: #000000;
		border-bottom-style: solid;
		border-bottom: solid;
		border-left-color: #000000;
		border-left-style: solid;
		border-right-color: #000000;
		border-right-style: solid;
		border-top-color: #000000;
		border-top-style: solid;
		border-bottom-width: 1px;
		border-left-width: 1px;
		border-right-width: 1px;
		border-top-width: 1px;
		font-size: 8pt;
		font-family: Arial;
	}

	MadCap|breadcrumbsProxy
	{
		font-size: 10pt;
	}

	img
	{
		max-width: 5in;
		page-break-before: avoid;
	}

	li.li_1_how_to_step
	{
		font-size: 8pt;
	}

	p.CellBody
	{
		font-size: 8pt;
	}

	p.How_to_step
	{
		font-size: 8pt;
	}

	p.How_to_title
	{
		font-size: 8pt;
		page-break-before: avoid;
		page-break-after: avoid;
	}

	p.Component
	{
		font-size: 8pt;
		orphans: 0;
		page-break-after: avoid;
		page-break-before: avoid;
		column-break-before: avoid;
		column-break-after: avoid;
	}

	p.Syntax_body
	{
		font-size: 8pt;
		margin-left: 20px;
		margin-bottom: 0.75em;
		margin-top: 0.75em;
		column-break-after: avoid;
		column-break-before: avoid;
		column-break-inside: avoid;
		line-height: 0.80ex;
	}

	p.appendixitems
	{
		margin-left: 30px;
	}

	MadCap|snippetText
	{
		font-size: 8pt;
		font-family: Arial;
		font-weight: bold;
	}

	MadCap|xref.lowercase_no_see
	{
		mc-format: '{paratext} on page {page}';
	}

	p.CellHeading
	{
		font-size: 8pt;
	}

	tbody
	{
		font-size: 8pt;
		font-family: Arial;
	}

	tr
	{
		font-family: Arial;
		font-size: 8pt;
		column-break-inside: avoid;
		page-break-inside: avoid;
	}

	h2.statements
	{
		column-break-before: avoid;
		margin-bottom: 1.25em;
		column-break-inside: avoid;
		font-size: 12pt;
		border-top-style: solid;
		border-top-width: 0.5px;
		page-break-before: always;
	}

	li.li_break_befor
	{
		page-break-before: always;
	}

	ol.break_before
	{
		page-break-before: always;
	}

	p.p_break_before
	{
		font-size: 8pt;
		orphans: 2;
		widows: 3;
		column-break-before: always;
		line-height: 0.80ex;
	}

	h3.tanks
	{
		column-break-inside: avoid;
		column-break-after: avoid;
		page-break-before: always;
		column-break-before: avoid;
	}

	span.intextfootnotenumber
	{
		font-size: 8pt;
		font-family: Arial;
	}

	p.tank_example
	{
		margin-top: 0.12em;
		margin-bottom: 0.12em;
		margin-left: 10px;
		font-size: 8pt;
		page-break-before: always;
	}

	p.image_nobreak
	{
		page-break-before: avoid;
		margin: 2pt;
		margin-left: 0pt;
		margin-right: 0pt;
		margin-bottom: 3pt;
		margin-top: 3pt;
		font-size: 8pt;
	}

	p.space_before_image
	{
		page-break-after: avoid;
		page-break-before: avoid;
		page-break-inside: avoid;
		column-break-after: avoid;
		column-break-before: avoid;
		column-break-inside: avoid;
		margin: 0;
		font-size: 8pt;
	}

	ol
	{
		margin-bottom: 0.50em;
		margin-top: 0.50em;
	}

	ul
	{
		margin-bottom: 0.50em;
		margin-top: 0.5em;
		font-size: 8pt;
		font-family: Arial;
	}

	table
	{
		orphans: 3;
		widows: 3;
		border-bottom-style: solid;
		border-bottom-width: 0px;
		border-left-style: solid;
		border-left-width: 0px;
		border-right-style: solid;
		border-right-width: 0px;
		border-top-style: solid;
		border-top-width: 0px;
	}

	h4._rules_statements
	{
		margin-top: 2.0em;
		font-style: normal;
		font-size: 10pt;
		column-break-before: avoid;
		column-break-inside: avoid;
		page-break-before: avoid;
	}

	h5._rules_statements
	{
		margin-top: 2.0em;
		font-weight: bold;
		font-size: 9pt;
		column-break-before: avoid;
		column-break-inside: avoid;
		page-break-before: avoid;
	}

	p._rules
	{
		margin-top: 2.0em;
		font-weight: bold;
		column-break-after: avoid;
		column-break-before: avoid;
		page-break-after: avoid;
		page-break-before: avoid;
	}

	p._statements_more_space
	{
		margin-bottom: 0.75em;
		margin-top: 0.75em;
		padding-bottom: 0px;
		padding-top: 0px;
	}

	h5._valid_in
	{
		font-size: 9pt;
		font-weight: bold;
		color: #000000;
		margin-top: 2.0em;
	}

	p.syntax_body_indent
	{
		margin-left: 30px;
		margin-bottom: 0.75em;
		margin-top: 0.75em;
		column-break-after: avoid;
		column-break-before: avoid;
		column-break-inside: avoid;
		font-size: 8pt;
	}

	p.syntax_indent_2
	{
		margin-bottom: 0.75em;
		margin-top: 0.75em;
		margin-left: 40px;
		column-break-after: avoid;
		column-break-before: avoid;
		column-break-inside: avoid;
		font-size: 8pt;
	}

	p.syntax_indent_3
	{
		margin-bottom: 0.75em;
		margin-top: 0.75em;
		margin-left: 50px;
		column-break-after: avoid;
		column-break-before: avoid;
		column-break-inside: avoid;
		font-size: 8pt;
	}

	td._no_borders
	{
		border-bottom-width: 0px;
		border-left-width: 0px;
		border-right-width: 0px;
		border-top-width: 0px;
	}

	img.img_1
	{
		border-left-style: none;
		border-right-style: none;
		border-top-style: none;
		border-bottom-style: none;
	}

	p.p_12
	{
		font-size: 8pt;
	}

	p.MiniTOC9
	{
		margin-bottom: 0.5em;
		margin-top: 0.5em;
	}

	td.td_1
	{
		font-size: 8pt;
	}

	td.td_10
	{
		font-size: 8pt;
	}

	p.TOC8
	{
		font-size: 8pt;
	}

	p.TOC9
	{
		font-size: 8pt;
	}

	MadCap|keyword
	{
		font-size: 8pt;
		font-family: Arial;
	}

	col
	{
		font-family: Arial;
		font-size: 8pt;
	}

	MadCap|keywordLinkControlList
	{
		font-family: Arial;
		font-size: 8pt;
	}

	MadCap|keywordLinkControlListItem
	{
		font-family: Arial;
		font-size: 8pt;
	}

	MadCap|keywordLinkControlListItemLink
	{
		font-family: Arial;
		font-size: 8pt;
	}

	p.MiniTOC1
	{
		font-size: 8pt;
	}

	p.variable
	{
		font-size: 8pt;
	}

	MadCap|xref.IndexPageNumber
	{
		font-family: Arial;
		font-size: 8pt;
	}

	MadCap|xref.ListOfPageNumber
	{
		font-family: Arial;
		font-size: 8pt;
	}

	MadCap|xref.TOCPageNumber
	{
		font-family: Arial;
		font-size: 8pt;
	}

	MadCap|helpControlListItemLink:focus
	{
		font-family: Arial;
		font-size: 8pt;
	}

	MadCap|xref.ConceptPageNumber
	{
		font-family: Arial;
		font-size: 8pt;
	}

	p.ListOf
	{
		font-size: 8pt;
	}

	p.ConceptContext
	{
		font-size: 8pt;
	}
}

MadCap|xref.lowercase_see
{
	mc-format: 'see {paratext} on page {page}';
	color: #335094;
	text-decoration: none;
}

MadCap|xref
{
	mc-format: '{paratext}';
	font-family: Arial;
	color: #335094;
	font-weight: bold;
	font-size: 11pt;
	text-decoration: none;
}

a
{
	color: #335094;
	font-weight: normal;
	font-family: Arial;
	text-decoration: none;
}

a:link
{
	color: #335094;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
}

a:focus
{
	color: #335094;
	text-decoration: none;
}

a:hover
{
	color: #335094;
}

MadCap|popup
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	text-decoration: underline;
	color: #335094;
}

MadCap|popupHead
{
	font-family: Arial;
	color: #335094;
	font-weight: bold;
	text-decoration: underline;
}

MadCap|xref.Uppercase_See
{
	mc-format: 'See {paratext} on {page}';
}

MadCap|xref.text_page_in_parenthesis
{
	mc-format: '{paratext} (see {paratext} on page {page})';
}

p.How_to_title
{
	font-weight: bold;
	font-style: normal;
	font-size: 12pt;
	font-family: Arial;
}

p.How_to_step
{
	font-family: Arial;
	display: list-item;
	font-size: 10pt;
}

ol.How_to_step
{
	
}

li.li_1_how_to_step
{
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-size: 10pt;
}

p.Component
{
	font-weight: bold;
	font-style: normal;
	font-family: Arial;
	font-size: 10pt;
}

p.Syntax_body
{
	font-size: 10pt;
	font-family: Arial;
	margin-left: 30px;
}

p.CellHeading
{
	font-family: Arial;
	font-weight: bold;
	font-size: 9pt;
	line-height: 10pt;
	text-align: center;
}

p.CellBody
{
	font-size: 9pt;
	line-height: 10pt;
	letter-spacing: 0;
	font-family: Arial;
}

MadCap|xref.lowercase_no_see
{
	mc-format: '{paratext} on page {page}';
}

li.li_break_befor
{
	
}

p.p_break_before
{
	font-family: Arial;
	line-height: normal;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 10pt;
}

MadCap|breadcrumbsProxy
{
	padding-top: 0px;
	color: #335094;
	font-family: Arial;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
	margin-top: 42px;
}

@media tablet
{
	p.p
	{
		font-size: 16px;
	}

	h4
	{
		font-size: 18px;
	}

	p.CellBody
	{
		font-size: 16px;
		line-height: inherit;
	}

	h5
	{
		font-size: 16px;
	}

	h2
	{
		font-size: 24px;
	}

	h3
	{
		font-size: 22px;
	}

	h1
	{
		font-size: 26px;
	}

	p.p_11
	{
		font-size: 16px;
	}

	MadCap|xref.lowercase_see
	{
		font-size: inherit;
	}

	h5.NOTE
	{
		font-size: 16px;
	}

	li
	{
		font-size: 16px;
	}

	li.li_1
	{
		font-size: inherit;
	}

	li.li_1_how_to_step
	{
		font-size: inherit;
	}

	p.Component
	{
		font-size: inherit;
	}

	p.How_to_title
	{
		font-size: inherit;
	}

	p.p_1
	{
		font-size: inherit;
	}

	p.p_10
	{
		font-size: inherit;
	}

	p.p_13
	{
		font-size: inherit;
	}

	p.p_14
	{
		font-size: inherit;
	}

	p.p_2
	{
		font-size: inherit;
	}

	p.p_break_before
	{
		font-size: inherit;
	}

	p.Syntax_body
	{
		font-size: inherit;
	}

	p.variable
	{
		font-size: inherit;
	}

	h5._rules_statements
	{
		font-size: inherit;
	}

	h5.NewClass
	{
		font-size: inherit;
	}

	h5._valid_in
	{
		font-size: inherit;
	}

	h6
	{
		font-size: 16px;
	}

	img
	{
		max-width: 90vw;
	}
}

@media mobile
{
	html.NewClass
	{
		font-size: 20pt;
	}

	header
	{
		font-size: 20pt;
	}

	MadCap|bodyProxy
	{
		text-decoration: none;
	}

	p.p
	{
		font-size: 16px;
	}

	p.p_14
	{
		font-size: inherit;
	}

	h4
	{
		font-size: 18px;
	}

	ul.ul_5
	{
		font-size: 16px;
	}

	ul
	{
		
	}

	li.li_1
	{
		font-size: inherit;
	}

	p.CellBody
	{
		font-size: 16px;
		line-height: inherit;
	}

	h1
	{
		font-size: 26px;
	}

	h2
	{
		font-size: 24px;
	}

	h3
	{
		font-size: 22px;
	}

	p.p_11
	{
		font-size: 16px;
	}

	MadCap|xref.lowercase_see
	{
		font-size: inherit;
	}

	h5.NOTE
	{
		font-size: 16px;
	}

	li
	{
		font-size: 16px;
	}

	li.li_1_how_to_step
	{
		font-size: inherit;
	}

	p.Component
	{
		font-size: inherit;
	}

	p.How_to_title
	{
		font-size: inherit;
	}

	p.p_1
	{
		font-size: inherit;
	}

	p.p_10
	{
		font-size: inherit;
	}

	p.p_13
	{
		font-size: inherit;
	}

	p.p_2
	{
		font-size: inherit;
	}

	p.p_break_before
	{
		font-size: inherit;
	}

	p.Syntax_body
	{
		font-size: inherit;
	}

	p.variable
	{
		font-size: inherit;
	}

	h5._valid_in
	{
		font-size: inherit;
	}

	h5._rules_statements
	{
		font-size: inherit;
	}

	h5.NewClass
	{
		font-size: inherit;
	}

	h5
	{
		font-size: 16px;
	}

	h6
	{
		font-size: 16px;
	}

	img
	{
		max-width: 90vw;
	}
}

